docs
src
bower_components
node_modules
build
!build/js/bootstrap-datetimepicker.min.js
!build/css/bootstrap-datetimepicker.min.css
.idea
.vs
obj
bin
site
*.user
*.csproj
*.sln
*.nupkg
index.html
package-lock.json